body {
  background-color: #ffffff;
}
#toggleUser {
  position: absolute;
  top: 10px;
  right: 10px;
}
#user {
  width: 400px;
  margin: auto;
  position: relative;
  top: 200px;
  border: 1px solid gray;
  padding: 10px;
}
button {
  margin: 0px;
}
#register {
  float: left;
}
#login {
  float: right;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
