doctype html
html
  head
    meta(charset="utf-8")
    title Animal Testing
    link(rel="stylesheet" href="/css/qunit.css")
  body
    #qunit
    #qunit-fixture

    script(src="/js/vendor/lodash.js")
    script(src="/js/vendor/qunit.js")
    script(src="/js/source/shelter.js")
    script(src="/js/source/animal.js")
    script(src="/js/source/client.js")
    script(src="/js/source/test.js")
