doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title New Album
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 New Album
    .row
      .small-6.columns
        form(action='/albums', method='post', enctype='multipart/form-data')#newAlbum
          fieldset
            legend New Album
            label(for='title') Title
              input(name='title', type='text')
            label(for='taken') Taken
              input(name='taken', type='date')
            label(for='cover') Add Image File
              input(name='cover', type='file')
            button.expand.radius.tiny#insert Insert

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

